@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Colors */
    --color-gold-light: #F3E5AB;
    --color-gold: #D4AF37;
    --color-gold-dark: #996515;
    --color-anthracite: #1A1A1A;
    --color-soft-white: #F9F9F9;

    /* Typography */
    --font-serif: 'Playfair Display', serif;
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

